body {
  margin: 0;
  background: #071734;
}
* {
  box-sizing: border-box;
}
.h-flex {
  display: flex;
}

.h-flex-wrap {
  flex-wrap: wrap;
}

.h-flex-justify-center {
  justify-content: center
}

.h-flex-justify-between {
  justify-content: space-between
}

.h-flex-justify-around {
  justify-content: space-around
}