<div class="footer h-flex">
  <div class="footer-log" style="width: 150px"></div>
  <div class="footer-description h-flex">
      <span style="font-size: 16px; color: #8091a8; margin: 0;">© 2015-2019 JustCase - Крутые скины доступны каждому</span>
      <span style="font-size: 15px; color: #2c364f; margin: 15px 0 0 0;"> На нашем сайте вы можете купить различные кейсы по самым выгодным ценам.
          Все обмены проходят в автоматическом режиме с помощью ботов Steam.</span>
     
  </div>
  <ul class="footer-links h-flex h-flex-wrap">
    <li><a href="">Пользовательское соглашение</a></li>
    <li><a href="">Контакты и корпоративная информация</a></li>
    <li><a href="">Техническая поддержка</a></li>
  </ul>
</div>