.footer {
  padding: 20px 10% 20px 15%;
  background: #080c1a;
  color: white;
  &-description {
    flex-grow: 1;
    flex-direction: column;
  }
  &-links {
    flex-grow: 2;
    list-style-type: none;

    li {
      margin: 0 0 20px 50px;
    }
  }
}