<div class="header header-caontainer h-flex h-flex-justify-between">
  <div class="header__logo">Image("Switch Case")</div>
  <div class="header__tabs-container">
    <ul class="header__tabs h-flex">
      <li class="header__tab"><a href="/">Home</a></li>
      <li class="header__tab">Contact</li>
      <li class="header__tab">FAQ</li>
      <li class="header__tab">SUCC</li> 
    </ul>
  </div>
  <div class="header__user-section">
    <div class="header__steam-login">LOGIN via STEAM</div>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Modal</button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Username</label>
        <div class="input-group">
          
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Login</button>
  </div>
</ng-template>